Source: openbve-data
Section: games
Priority: optional
Maintainer: Paul Sladen <ubuntu@paul.sladen.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.0

Package: openbve-data
Architecture: all
Depends: ${cli:Depends}
Provides: openbve-data-icons
Conflicts: openbve-data-icons
Replaces: openbve-data-icons
Description: realistic 3D train/railway simulator (GUI icons and data)
 OpenBVE is a public domain railway/train simulator backwards
 compatible with existing 'BVE Trainsim' train and route
 datafiles.
 .
 This package contains the icons, keyboard settings, images
 and bootstrap parameters not distributed in the openbve
 source distribution.
 . 
 http://openbve.uuuq.com/

